{% extends 'copo/base.html' %}

{% load staticfiles %}

{% block stylesheet_block %}
<link rel="stylesheet" href="{% static 'copo/css/browse_style.css' %}">
<link rel="stylesheet" href="{% static 'copo/css/collection.css' %}">
<link rel="stylesheet" href="{% static 'copo/css/bootstrapValidator.css' %}">
{% endblock %}


{% block title_block %} Study {% endblock %}

{% block tagline_block %}{% endblock %}

{% block browse_header_block %}

<div id="browse_header">
        <span class="blue_icon">
           <a><i class="fa fa-plus-circle" data-toggle="modal" data-target="#newStudyModal"></i></a>
        </span>
        <span class="blue_icon">
            <a><i class="fa fa-pencil-square-o"></i></a>
        </span>
        <span class="blue_icon">
            <a><i class="fa fa-trash-o"></i></a>
        </span>
    <div class="input-group input-group-sm">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
        <input type="search" class="form-control" placeholder="Search">
    </div>
</div>

{% endblock %}

{% block work_area %}

<form role="form" class="form-horizontal" id="ena_title_form" action="/copo/new_collection/" method="post">
    <div class="form-group">
        <label class="control-label">Collection Name</label>
        <input type="text" id="collection_name" placeholder="{{ collection.name }}" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label for="collection_type">Colection Type</label>
        <select name="collection_type" id="collection_type" class="form-control">
            <option selected="selected">ENA Submission</option>
            <option>Custom Submission</option>
        </select>
    </div>
</form>


<div class="panel-group" id="accordion">

    <!-- Panel for ENA Study -->
    <div class="panel panel-default" id="panel1">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
                    ENA Study
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <h2 class="h2">Add Study Details</h2>
                <hr/>
                <form id="ena_study_form" class="ena_form_validation_icon">
                    <!-- populated by ajax -->
                </form>

            </div>
        </div>
    </div>


    <!-- Panel for ENA Sample -->
    <div class="panel panel-default" id="panel2">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseTwo"
                   href="#collapseTwo" class="collapsed">
                    ENA Sample
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <h2 class="h2">Add Sample Details</h2>
                <hr/>
                <form id="ena_sample_form" class="ena_form_validation_icon ena_form_validation_icon">
                    <!-- populated by ajax -->
                </form>


                <h2 class="h2">Add Sample Attributes</h2>
                <hr/>
                <form id="ena_sample_form_attributes" class="form-horizontal" role="form">
                    <input type="hidden" id="attr_counter" value="1"/>
                    <div class="form-group col-sm-10" id="attribute_group">
                        <label class="sr-only" for="tag_1">tag</label>
                        <label class="sr-only" for="value_1">value</label>
                        <label class="sr-only" for="unit_1">unit</label>
                        <input type="text" class="col-sm-3 attr" name="tag_1" placeholder="attribute tag"/>
                        <input type="text" class="col-sm-3 attr" name="value_1" placeholder="attribute value"/>
                        <input type="text" class="col-sm-3 attr" name="unit_1" placeholder="attribute unit (optional)"/>
                    </div>




                    <p id="button_p" class="col-sm-10">
                        <br/>
                        <button type="button" id="add_attribute_button" class="btn btn-info btn-xs">Add Another</button>
                    </p>
                </form>

            </div>
        </div>
    </div>

</div>





    {% endblock %}


{% block js_block %}
<script src="{% static 'copo/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'copo/js/collection.js' %}"></script>
<script src="{% static 'copo/js/bootstrapValidator.js' %}"></script>
{% endblock %}