{% extends 'copo/base.html' %}

{% load staticfiles %}

{% block stylesheet_block %}
<link rel="stylesheet" href="{% static 'copo/css/browse_style.css' %}">
<link rel="stylesheet" href="{% static 'copo/css/collection.css' %}">
<link rel="stylesheet" href="{% static 'copo/css/bootstrapValidator.css' %}">
{% endblock %}


{% block title_block %} Study {% endblock %}

{% block tagline_block %}{% endblock %}

{% block browse_header_block %}

<div id="browse_header">
        <span class="blue_icon">
           <a><i class="fa fa-plus-circle" data-toggle="modal" data-target="#newStudyModal"></i></a>
        </span>
        <span class="blue_icon">
            <a><i class="fa fa-pencil-square-o"></i></a>
        </span>
        <span class="blue_icon">
            <a><i class="fa fa-trash-o"></i></a>
        </span>
    <div class="input-group input-group-sm">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
        <input type="search" class="form-control" placeholder="Search">
    </div>
</div>

{% endblock %}

{% block work_area %}
<input type="hidden" id="collection_id" name="collection_id" value="{{ collection_id }}">
<form role="form" class="form-horizontal" id="ena_title_form" action="/copo/new_collection/" method="post">
    <div class="form-group">
        <label class="control-label">Collection Name</label>
        <input type="text" id="collection_name" placeholder="{{ collection.name }}" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label for="collection_type">Colection Type</label>
        <select name="collection_type" id="collection_type" class="form-control">
            <option selected="selected">ENA Submission</option>
            <option>Custom Submission</option>
        </select>
    </div>
</form>


<div class="panel-group" id="accordion">

    <!-- Panel for ENA Study -->
    <div class="panel panel-default" id="panel1">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
                    ENA Study
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <h2 class="h2">Add Study Details</h2>
                <hr/>
                <!-- hidden field to store study id -->
                <input type="hidden" name="study_id"/>
                <form id="ena_study_form" class="ena_form_validation_icon">
                    {% csrf_token %}
                    <!-- populated by ajax -->
                </form>

                <h2 class="h2">Add Study Attributes</h2>
                <hr/>
                <form id="ena_study_form_attributes" class="form-horizontal" role="form">
                    <input type="hidden" id="attr_counter" value="1"/>
                    {% csrf_token %}
                    <!-- pressing the button underneath this div will cause another div to be created and inserted -->
                    <div class="form-group col-sm-10" class="attribute_group">
                        <label class="sr-only" for="tag_1">tag</label>
                        <label class="sr-only" for="value_1">value</label>
                        <label class="sr-only" for="unit_1">unit</label>
                        <div class="attr_vals">
                            <input type="text" class="col-sm-3 attr" name="tag_1" placeholder="tag"/>
                            <input type="text" class="col-sm-3 attr" name="value_1" placeholder="value"/>
                            <input type="text" class="col-sm-3 attr" name="unit_1" placeholder="unit (optional)"/>
                        </div>
                    </div>
                    <p id="study_button_p" class="col-sm-10">
                        <br/>
                        <button type="button" id="study_add_attribute_button" class="btn btn-default btn-s">Add Another</button><br/><br/><br/>
                        <button type="button" id="save_study" style="margin-right:-200px" class="btn btn-success pull-right">Save Study</button>
                    </p>


                    </p>
                </form>




            </div>



        </div>
    </div>




    <!-- Panel for ENA Sample -->
    <div class="panel panel-default" id="panel2">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseTwo"
                   href="#collapseTwo" class="collapsed">
                    ENA Sample
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <h2 class="h2">Add Sample Details</h2>
                <hr/>
                <table class="table-bordered" id="sample_table">

                    <tr id="sample_table_tr">
                        <th>Sample Name</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Remove</th>
                    </tr>
                    {% for s in samples %}

                        <tr><td> {{ s.title }} </td><td> {{ s.description }} </td>
                            <td> {{ s.scientific_name }} </td><td> {{ s.common_name }} </td></tr>

                    {% endfor %}



                </table>



                <p class="col-sm-10">
                    <br/>
                    <button type="button" id="add_sample_button" class="btn btn-default btn-s" data-toggle="modal" data-target="#newSampleModal">Add Sample</button>
                </p>


            </div>
        </div>
    </div>


    <!-- Panel for ENA Sample -->
    <div class="panel panel-default" id="panel3">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseThree"
                   href="#collapseThree" class="collapsed">
                    ENA Data
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <h2 class="h2">Add Experiment Details</h2>
                <hr/>
                    <table class="table-bordered">

                        <tr>
                            <th>File Name</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Remove</th>
                        </tr>

                    </table>

            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="newSampleModal" tabindex="-1" role="dialog" aria-labelledby="newSampleModal" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title h2" id="myModalLabel">New Sample</h4>
            </div>

            <div class="modal-body" style="padding-bottom:100px">

                <form id="ena_sample_form" class="ena_form_validation_icon">
                    <!-- populated by ajax -->
                    {% csrf_token %}
                </form>

                <h2 class="h2">Add Sample Attributes</h2>
                <hr/>

                <form id="ena_sample_form_attributes" class="form-horizontal" role="form">
                    <input type="hidden" id="sample_attr_counter" value="1"/>

                    <!-- pressing the button underneath this div will cause another div to be created and inserted -->
                    <div class="form-group col-sm-10 attribute_group">

                    <label class="sr-only" for="tag_1">tag</label>
                    <label class="sr-only" for="value_1">value</label>
                    <label class="sr-only" for="unit_1">unit</label>

                            <div class="sample_attr_vals">
                                <input type="text" class="col-sm-3 attr" name="tag_1" placeholder="tag"/>
                                <input type="text" class="col-sm-3 attr" name="value_1" placeholder="value"/>
                                <input type="text" class="col-sm-3 attr" name="unit_1" placeholder="unit (optional)"/>
                            </div>

                    </div>
                    <p id="sample_button_p" class="col-sm-10">
                        <br/>
                        <button type="button" id="btn:sample_add_attribute" class="btn btn-default btn-xs">Add Another</button>
                    </p>
                </form>


            </div>

            <div class="modal-footer">
                <p id="p_save_sample">
                <button type="button" id="btn:save_sample" class="btn btn-success">Save Sample</button>
                </p>
            </div>




        </div>
    </div>
</div>



    {% endblock %}


{% block js_block %}
<script src="{% static 'copo/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'copo/js/collection.js' %}"></script>
<script src="{% static 'copo/js/bootstrapValidator.js' %}"></script>
{% endblock %}