{% extends 'copo/base.html' %}

{% load staticfiles %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/browse_style.css' %}">
    <link rel="stylesheet" href="{% static 'copo/css/datepicker.css' %}">
{% endblock %}


{% block title_block %} Index {% endblock %}

{% block tagline_block %}





{% endblock %}


{% block breadcrumb_block %}
    <ol class="breadcrumb">
        <li class="active"><a href="{% url 'copo:index' %}">Home</a></li>

    </ol>
{% endblock %}

{% block browse_header_block %}

    <div id="browse_header">
        <span class="blue_icon">
           <a><i class="fa fa-plus-circle" data-toggle="modal" data-target="#newStudyModal"></i></a>
        </span>
        <span class="blue_icon">
            <a><i class="fa fa-pencil-square-o"></i></a>
        </span>
        <span class="blue_icon">
            <a><i class="fa fa-trash-o"></i></a>
        </span>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
            <input type="search" class="form-control" placeholder="Search">
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="newStudyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Profile</h4>
                </div>
                <div class="modal-body">

                    <form role="form" action="/copo/new_profile/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="study_title">Title</label>
                            <input type="text" class="form-control" name="study_title" placeholder="Enter Collection Name" >
                        </div>
                        <div class="form-group">
                            <label for="study_abstract">Abstract</label>
                            <textarea rows="6" class="form-control" name="study_abstract" placeholder="Enter Abstract"></textarea>
                        </div>

                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block work_area %}

    <h2 class="h2">Work Profiles</h2>

    <table class="browse_table">

        <tr>
            <th style="opacity: 0"></th>
            <th>Title</th>
            <th>Abstract</th>
            <th>Date</th>
        </tr>


        {% for s in studies %}
            <tr>
                <td style="text-align: center">

                    <a href="{% url 'copo:view_profile' profile_id=s.id %}"><i class="fa fa-pencil-square-o "></i></a>
                </td>
                <td>{{ s.title }}</td>
                <td>{{ s.abstract_short }}</td>
                <td>{{ s.date }}</td>
            </tr>
        {% endfor %}

    </table>


{% endblock %}


{% block js_block %}
    <script src="{% static 'copo/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'copo/js/index.js' %}"></script>
{% endblock %}