{% extends 'copo/base.html' %}
{% load staticfiles %}
{% block js_block %}
    <script src="{% static 'copo/js/copo.login_view.js' %}"></script>
{% endblock %}

{% block title_block %} Index {% endblock %}

{% block tagline_block %}{% endblock %}

{% block browse_header_block %}
    <div id="browse_header">
        <span class="blue_icon">
            <i class="fa fa-folder-open"></i>
        </span>
        <span class="blue_icon">
            <i class="fa fa-pencil-square-o"></i>
        </span>
        <span class="blue_icon">
            <i class="fa fa-trash-o"></i>
        </span>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
            <input type="search" class="form-control" placeholder="Search">
        </div>
    </div>
{% endblock %}

{% block work_area %}


<h2 class="h2">testing</h2>



{% endblock %}