{% extends 'copo/base.html' %}

{% load staticfiles %}

{% block stylesheet_block %}
<link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}">
<link rel="stylesheet" href="{% static 'copo/css/copo/study.css' %}">

        <style>
        .bar {
            height: 18px;
            background: green;
        }
        </style>

{% endblock %}


{% block title_block %} Study {% endblock %}

{% block tagline_block %}{% endblock %}

{% block breadcrumb_block %}

{% endblock %}


{% block browse_header_block %}

<div id="browse_header">
        <span class="blue_icon">
           <a><i class="fa fa-plus-circle" data-toggle="modal" data-target="#newStudyModal"></i></a>
        </span>
        <span class="blue_icon">
            <a><i class="fa fa-pencil-square-o"></i></a>
        </span>
        <span class="blue_icon">
            <a><i class="fa fa-trash-o"></i></a>
        </span>
    <div class="input-group input-group-sm">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
        <input type="search" class="form-control" placeholder="Search">
    </div>
</div>

{% endblock %}

{% block work_area %}



{% endblock %}


{% block js_block %}
<script src="{% static 'copo/js/bootstrap-datepicker.js' %}"></script>

<script src="{% static 'copo/js/uploader/vendor/jquery.ui.widget.js'%}"></script>
<script src="{% static 'copo/js/uploader/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'copo/js/uploader/jquery.fileupload.js' %}"></script>
<script src="{% static 'copo/js/uploader/main.js' %}"></script>
{% endblock %}