{% extends 'copo/base.html' %}

{% load staticfiles %}

{% block stylesheet_block %}
<link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}">
<link rel="stylesheet" href="{% static 'copo/css/copo/study.css' %}">
<link rel="stylesheet" href="{% static 'copo/css/uploader/jquery.fileupload.css' %}">

{% endblock %}


{% block title_block %} Study {% endblock %}

{% block tagline_block %}{% endblock %}

{% block breadcrumb_block %}

{% endblock %}


{% block browse_header_block %}

<div id="browse_header">
        <span class="blue_icon">
           <a><i class="fa fa-plus-circle" data-toggle="modal" data-target="#newStudyModal"></i></a>
        </span>
        <span class="blue_icon">
            <a><i class="fa fa-pencil-square-o"></i></a>
        </span>
        <span class="blue_icon">
            <a><i class="fa fa-trash-o"></i></a>
        </span>
    <div class="input-group input-group-sm">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
        <input type="search" class="form-control" placeholder="Search">
    </div>
</div>

{% endblock %}

{% block work_area %}
<form enctype="multipart/form-data" id="fileupload" method="POST" action="http://127.0.0.1:8000/rest/receive_data_file/">
    {% csrf_token %}
    <span id="upload_files_button" class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <input type="file" name="ff_file">
    </span>
    <br><br>
    <div id="progress" class="progress">
        <div style="width: 0%;height: 20px;background: green" class="bar"></div>
        <div class="progress-bar progress-bar-success"></div>
    </div>
</form>

<br/><br/><br/>

<form action="http://127.0.0.1:8000/rest/receive_data_file/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="ff_file" />
    <input type="submit">
</form>

<script>

</script>


{% endblock %}


{% block js_block %}
<script src="{% static 'copo/js/bootstrap-datepicker.js' %}"></script>

<script src="{% static 'copo/js/uploader/vendor/jquery.ui.widget.js'%}"></script>
<script src="{% static 'copo/js/uploader/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'copo/js/uploader/jquery.fileupload.js' %}"></script>
<script src="{% static 'copo/js/uploader/main.js' %}"></script>
{% endblock %}