table{
    width:100%
}
th{
    background-color:#FFF4CF;
    opacity:1;
}
table, td, th {
    border: 1px solid rgba(75, 79, 87, 0.08);
    padding:10px;
    color:#163657;
}

.datepicker {
    z-index: 100000;
}