.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content: "\e080";
}


#ena_subject_form .has-feedback .form-control-feedback {
    margin-top: 10px;
}
