{% extends 'web_copo/base.html' %}

{% block title_block %} Login {% endblock %}

{% block tagline_block %} Please login {% endblock %}

{% block main_block %}





        <form>
            <label for="frm:login:username">User</label>
            <input type="text" id="frm:login:username" name="frm:login:username"  />
            <br/>
            <label for="frm:login:password">Password</label>
            <input type="password" id="frm:login:password" name="frm:login:password" />
            <br/>
            <button class="submit">Submit style</button>
        </form>




{% endblock %}